<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Ajouter votre code CSS ici.
                     
Par exemple:
.exemple {
    color: red;
}

Pour améliorer vos connaissances en CSS, visitez http://www.w3schools.com/css/css_syntax.asp

Fin du commentaire */ 

/* taille du home des pages */

.home_product_text{

  padding-left:10px;
  margin-bottom: 60px;
}

.fusion-row{

  max-width: 1200px!important;
}

/** CSS de la page d'accueil **/

#grosaccueil div h2{
	color: rgba(191,165,0,0.6)!important;
    font-family: "Alfa Slab One", Sans-serif!important;
    font-size: 10vh!important;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3)!important;
}

#grossoustitre div h2{
    color: rgba(191,165,0,0.6)!important;
    font-family: "Alfa Slab One", Sans-serif!important;
    font-size: 4vh!important;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3)!important;
}

/** Page Contact **/

.contacteuh div h2{
  	font-family: "Playfair Display", Sans-serif!important;
    font-size: 5vh!important;
    font-weight: 900!important;
    font-style: italic!important;
}

#titrecontact div h2{
    color: #ffffff!important;
    font-family: "Asul", Sans-serif!important;
    font-size: 10vh!important;
}

/** Titre des produits **/

.product-title{

  font-weight: bold!important;
}


/* Retirer le petit icon de cadi */
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:before{
display: none;
}

/* Bouton Add au panier */
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart{
  
    border-radius: 10px;
    background: #8ccd41;
    font-size: 40px;
    height: 35px;
    width: 35px;
    text-align: center;
    color: white;
    padding: 0px 0px 0px 0px;
    line-height: 33px;
    margin: -10px 0px -10px 85%;

}

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover{
	
  opacity:0.5;
  transition: 0.5s;
  
  


}

/* MIniature produit prix */

/* bouton detail et detail (produit variable)*/
.show_details_button{
	display:none!important;
}
.button.product_type_variable.add_to_cart_button{
	display:none!important;
}

/* PRIX */

#prix{

  margin: -55px -6px 4px 6px;
}


.fusion-price-rating .price{
	display:none!important;
}

.product-details-container{
    min-height: 30px;
}

.fusion-content-sep.sep-double.sep-solid{

  display:none!important;

}

.product-type-simple #parper{

  margin-top:0px!important;
}

.product-type-variable #parper{

  margin-top:15px!important;
}

/*separator*/

.separateur{

    height: 1px;
    width: 100%;
    background: grey;
  	opacity: 0.2;
    margin-bottom: 20px;
}


</style>
<!-- end Simple Custom CSS and JS -->
